[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pygments = "*"
django = "*"
rest_framework = "*"

[dev-packages]

[requires]
python_version = "3.8"
