<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Region {{ item.shortname }} | {{ answerfilename }}</title>
    {% include 'css.html' %}
</head>
<body>
<div class='container'>
    <div class="row">
        <div class="col">
            {% include 'nav.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    {% for brandname in brands %}
                    {% for rolename in roles if not rolename.addon %}
                    <thead>
                    <tr>
                        <th class="thead-dark">{{ brandname.shortname }} {{ rolename.shortname }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for nodename in servernodes %}
                    {% if nodename.brand == brandname.id and nodename.role == rolename.id and nodename.region == item.id
                    %}
                    <tr>
                        <td>{{ nodename.fullname }}</td>
                        <td>{{ nodename.ipaddress }}</td>
                        <td>{{ nodename.logicalgroup }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'js.html' %}
</body>
</html>

