*.retry
host_vars/*
group_vars/*
{% for rolevars in roles %}
roles/{{ rolevars.shortname }}/vars/*
{% endfor %}
{% for inventoryfiles in logicalgroups %}
{{ inventoryfiles.shortname }}
{% endfor %}


